.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .DeleteApp {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .DeleteInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .DeleteInfo input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 15px;
  }
  
  .DeleteInfo button {
    width: 300px;
    height: 50px;
    margin-top: 15px;
  }

  .DeleteInfo button {
    width: 300px;
    height: 50px;
    margin-top: 15px;
  }
  
  .DeleteInfo button:hover {
    cursor: pointer;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .information input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 15px;
  }
  
  .information button {
    width: 300px;
    height: 50px;
    margin-top: 15px;
  }
  
  .information button:hover {
    cursor: pointer;
  }
  
  .map-container {
    width: 100%;
    height: 100vh;
  }

  .SexType{
    width: 300px;
    height: 200px;
    margin-top: 10px;
  }